.uk-offcanvas-close{
   font-size: 15px;

}
.uk-offcanvas-bar{
    background-color: white;

}
#header{
    background-color: white;
}
#logo-nav{
    width: 155px;
    height: 125px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 15px;
    margin-left: 0px;
}

.uk-navbar-nav>li>a:hover {
    color: #59c5aa
}
.navText{
    color: black !important;
}

.uk-button{
    background-color: #59c5aa;
    font-size: .875rem;
    font-family: 'Quicksand', sans-serif;
}
.uk-button:hover{
    background-color: #212121;
    color: #59c5aa
}
#logoMobile{
    margin-bottom: 13px;
    height: 100px;
    width: 100px;
}
#mobileMenu{
    margin-top: 50%;    
}
.uk-navbar-nav>li>a{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px !important;
    
}
.mobileMenuText{
    font-size: 18px;
    color: black !important;
}

#middlenav{
    margin-right: 55px;
}
.uk-nav-divider{
    color: black !important;
    background-color: black !important;
}
.uk-offcanvas-close{
    color: black !important;
}


 /* mobile response */
 @media only screen and (max-width: 1325px) { 
    .uk-button{
       font-size: 12px;
   }
   .uk-navbar-nav>li>a {
    font-size: 18px !important;
    padding: 18px;
    } 


 }

 @media only screen and (max-width: 1160px) { 
    .uk-button{
       font-size: 11px;
       
   }
   .uk-navbar-nav>li>a {
    font-size: 12px;
    padding: 10px;
    }
    

 }

 @media only screen and (max-width: 480px) { 
    .uk-button{
       font-size: 8px;
   }

 }