
#yogaHeader{
    margin-top: 70px;
    margin-bottom: 94px;
    color: #59c5aa;
    font-size: 25px;
   
}
#yogapic{
    height: 640px;
    width: 940px;
    margin-bottom: 3px;
}

 /* mobile response */
 @media only screen and (max-width: 480px) { 
    #yogapic{
        height: 240px;
        width: 460px;
        margin-bottom: 3px;
    }
    #yogaHeader{
        margin-top: 40px;
        margin-bottom:30px;
        color: #59c5aa;
        font-size: 20px;
       
    }
}