#partnersHeader{
    color: #59c5aa;
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.partnerpics{
    width: 220px;
    height: 85px;
    
}
.partnerpics2{
    width: 220px;
    height: 45px;
    margin-top: 22px;
}
.partnerpics3{
    width: 160px;
    height: 90px;
}
.partnerpics4{
    width: 100px;
    height: 90px;
}


 /* mobile response */
 @media only screen and (max-width: 480px) { 
    #partnersHeader{
        font-size: 20px;
        margin-top: 40px;
    }
}